<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-button (click)="about()">About</ion-button>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="items-panel">
    <app-card-component 
      *ngFor="let item of (items?.items$ | async);let i = index" 
      [item]="item" 
      (onDeleteClicked)="onDeleteClicked(item)"
      >
    </app-card-component>
  </div>
  <ion-loading [isOpen]="loading" class="custom-loading"  message="Loading..." ></ion-loading>
 
</ion-content>
